body {
	background-color: gray;
}

h1 {
	text-align: center;
}
#pictureForm {
	position: relative;
	align-self: center;
	text-align: center;
}

label,
#image,
button {
	padding: 10px;
}

h2 {
	text-align: center;
}

#sentPictures {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	max-width: 80%;
	margin: 0 auto;
}

img {
	flex-basis: auto;
	border-radius: 20px;
	height: auto;
	width: calc(33.3% - 20px);
	max-width: 300px;
	margin: 10px 0;
}
